<app-nav (users)="changevals($event)"  ></app-nav>
 
 

 <h1>{{title}}</h1>

 <h3>{{ y  == 23 ? 'სწორია' : 'მცდარია'}} </h3>

 <button class="btn " (click)="changecolor('red')">ფერის შეცვლა (წითელი)</button>
 <button class="btn " (click)="changecolor('blue')">ფერის შეცვლა (ლურჯი)</button>
 <button class="btn " (click)="changecolor('yellow')">ფერის შეცვლა (ყვითელი)</button>
 <p>{{calcu(2)}} </p>

 <p>{{calcu(22)}} </p>

 <p>{{calcu(3342)}} </p>

 <p>{{calcu(243534)}} </p>

 <p>{{calcu(2546)}} </p>


 <div class="col-lg-5 mx-auto p-5 mydiv" [ngClass]="{'d-nones': shows}">
 Toggle
 </div>

 <button class="btn btn-info" (click)="toggle()">დამალვა/გამოჩენა</button>

 <h3 class="mycsl text-center" *ngIf="virable; else elsblock" [ngClass]="clasbg"  [ngStyle]="styleobj">{{parents}}</h3>

 <ng-template #elsblock>

    <h1>ელს</h1>

 </ng-template>

 <div [ngSwitch]="lang">
     <div *ngSwitchCase="'ka'">ka</div>
     <div *ngSwitchCase="'en'">en</div>
     <div *ngSwitchDefault>საწყისი</div>
 </div>

 <div class="col-lg-8 mx-auto">
     <p *ngFor="let User of Users;  index  as  i ">
       <span [ngClass]="{'text-success': User == 'ნიკა'}">{{User}} | {{i }} </span> 
     </p>

     <input type="text" class="form-control" #name>
     <button class="btn btn-warning" (click)="newitem(name.value)"> ახალი ელემენტის ჩამატება </button>

 </div>

 <button class="btn btn-danger" (click)="changecl($event)">კლასის ცვლილება </button>

 <div class="container">
   <div class="col-lg-6 mx-auto">
     <app-contact></app-contact>
   </div>
 </div>