<app-nav  [logo]="color"></app-nav>
 
<div class="container">
    sadd
</div>

 <h1>{{title}}</h1>

 <h >{{ y  == 23 ? 'სწორია' : 'მცდარია'}} </h3>

 <button class="btn " (click)="changecolor('red')">ფერის შეცვლა (წითელი)</button>
 <button class="btn " (click)="changecolor('blue')">ფერის შეცვლა (ლურჯი)</button>
 <button class="btn " (click)="changecolor('yellow')">ფერის შეცვლა (ყვითელი)</button>
 <p>{{calcu(2)}} </p>

 <p>{{calcu(22)}} </p>

 <p>{{calcu(3342)}} </p>

 <p>{{calcu(243534)}} </p>

 <p>{{calcu(2546)}} </p>


 <div class="col-lg-5 mx-auto p-5 mydiv" [ngClass]="{'d-nones': shows}">
 Toggle
 </div>

 <button class="btn btn-info" (click)="toggle()">დამალვა/გამოჩენა</button>